@keyframes parallax {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
  }
}

.parallax {
  position: fixed !important;
  display: block;
  width: 100%;
  height: 200vh;
  top: 0;
  left: 0;
  animation: parallax linear;
  animation-timeline: scroll();
  opacity: 0.0625;
  background-image: var(--img-l-src);
}

.dark .parallax {
  background-image: var(--img-d-src);
}

